<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>flask_rq - {% block title %}{% endblock %}</title>
    <style>
        html {
            font-family: sans-serif;
        }

        nav a {
            background-color: #311111;
            color: white;
            padding: 0.75em;
            text-decoration: none;
            text-transform: uppercase;
        }

        nav a:hover {
            background-color: #ba1919;
        }

        nav a:active {
            background-color: black;
        }
    </style>
</head>
<body>
<nav>
    <a class="button" href="{{ url_for('index') }}">home</a>
    <a class="button" href="{{ url_for('index') }}?queue_name=urgent">add urgent job</a>
    <a class="button" href="{{ url_for('index') }}?queue_name=priority">add priority job</a>
    <a class="button" href="{{ url_for('index') }}?queue_name=default">add default job</a>
</nav>
<br>
<br>
<nav>
    <a class="button" href="{{ url_for('index') }}?queue_name=urgent&job_count=100">+100 urgent jobs</a>
    <a class="button" href="{{ url_for('index') }}?queue_name=priority&job_count=100">+100 new priority jobs</a>
    <a class="button" href="{{ url_for('index') }}?queue_name=default&job_count=100">+100 new default jobs</a>
</nav>
<br>
<hr>
<br>
<nav>
    <a class="button" href="{{ url_for('index') }}?queue_name=urgent&job_count=1000">+1 000 urgent jobs</a>
    <a class="button" href="{{ url_for('index') }}?queue_name=priority&job_count=1000">+1 000 priority jobs</a>
    <a class="button" href="{{ url_for('index') }}?queue_name=default&job_count=1000">+1 000 default jobs</a>
</nav>
<div class="content">
    {% block content %} {% endblock %}
</div>
</body>
</html>
